* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    color: hsl(220, 15%, 55%);
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

body,
input,
button {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}


button {
    cursor: pointer;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    margin: 15px auto;
    height: 525px;
    border-radius: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.p-container {
    flex-direction: column;
    text-align: center;
    width: 300px;

}

img {
    width: 300px;
    border-radius: 12px;
}

p:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p:nth-of-type(2) {
    padding: 15px;
    font-size: 1rem;
}


.attribution {
    border: 1px solid black;
    font-size: .75rem;
    margin-bottom: 1rem;

}